<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form id="solution_form">
    <div class="form-group text-center">
    <strong>{{.Title}}</strong>
    </div>
    <div class="form-group text-left">
    <p>{{.Description}}</p>
        <button type="submit" id="send_solution" class="btn btn-primary">Send Solution</button>
    </div>
        <input type="hidden" id="task_id" value={{.ID}}>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
    document.getElementById('solution_form').addEventListener('submit', submitForm);

    function submitForm(event) {
        // Отменяем стандартное поведение браузера с отправкой формы
        event.preventDefault();
        let task_id = document.getElementById("task_id").value;
        sendRequest("GET", "/tasks/solutionForm/" + task_id, null);
    }

    function sendRequest(method, url, data) {
        let cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        let xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
        xhr.onreadystatechange = function () {
        if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

        window.history.pushState("", "", url);
        document.body.innerHTML = '';
        document.write(xhr.responseText);
    }
    };
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        if (data != null) {
        xhr.send(JSON.stringify(data));
    } else {
        xhr.send();
    }
    }
</script>





</body>
</html>