<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form id="solution" method="post" action="/tasks/solutionForm/{{.ID}}">
    <div class="form-group text-center">
    <strong>{{.Title}}</strong>
    </div>
    <div class="form-group text-left">
    <p>{{.Description}}</p>
        <button type="submit" id="send_solution" class="btn btn-primary">Send Solution</button>
    </div>
    </form>
</div>
<input type="hidden" id="task_id" value={{.ID}}>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">


    document.getElementById('send_solution').addEventListener('click', submitForm);

    function submitForm(event) {
        const formData = new URLSearchParams(new FormData(this));

        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let task_id = document.getElementById("task_id").value;

        // Собираем запрос к серверу
        let request = new Request(event.target.action, {
            url: '/tasks/solutionForm/' + task_id,
            method: 'POST',
            body: formData,
            headers: {
                'Authorization':'Bearer ' + cookieValue,
                'Content-Type': 'application/json',
            },
        });

        // Отправляем (асинхронно!)
        fetch(request).then(
                (res)  => {
                    return res.text();
                })
                .then(data => {
                        //$('html').html(data);

                        document.body.innerHTML = '';
                        document.write(data);

                        },
                        (error) => {
                            // Запрос не получилось отправить
                            alert('solution send failed: ' + error);
                        }
                );
    }
</script>

</body>
</html>