<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Edit item</h1>

    <form id="edit-form">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{.Title}}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3">{{.Description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<div>
    <form method="post" enctype="multipart/form-data" id="fileUploadForm">

        <input type="file" class="mx-auto my-2 my-sm-3 col-xs-4" accept=".zip" name="myArch"/>

        <input type="submit" class="btn btn-dark" name="submit" value="upload tests *.zip archive" id="btnSubmit"/>
    </form>
</div>
    <span id="result"></span>
<div>
    <form method="get"
          enctype="multipart/form-data"
          action="http://localhost:8080/tests/download/{{.ID}}">
        <input type="submit" class="btn btn-dark" value="download tests *.zip archive"/>
    </form>
</div>

</div>

<style type="text/css">
    .container-buttons {
        display: flex;
        justify-content: space-evenly;
    }
</style>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script>
    $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#fileUploadForm')[0];

        // Create an FormData object
        var data = new FormData(form);

        // If you want to add an extra field for the FormData
        data.append("CustomField", "This is some extra data, testing");

        // disabled the submit button
        $("#btnSubmit").prop("disabled", true);

        let cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "http://localhost:8080/tests/upload/{{.ID}}",
            headers: {
                'Authorization':'Bearer ' + cookieValue,
            },
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert(data);
                $("#btnSubmit").prop("disabled", false);

            },
            error: function (e) {
                alert(e.responseText);
                $("#btnSubmit").prop("disabled", false);

            }
        });

    });


    document.getElementById("edit-form").addEventListener('submit', submitForm);

    function submitForm(event) {
        // Отменяем стандартное поведение браузера с отправкой формы
        event.preventDefault();

        let form = document.getElementById('edit-form');

        // event.target — это HTML-элемент form
        let formData = new FormData(form);
        // Собираем данные формы в объект
        let obj = {};
        formData.forEach((value, key) => obj[key] = value);
        console.log("object: ", obj);
        sendRequest("POST", "/tasks/{{.ID}}", obj, tasksList);
    }

    function tasksList(prevResponse) {
        sendRequest("GET", "/admin", null, function (response) {
            document.write(response);
            window.history.pushState("", "", "/admin");
        });
    }


    function sendRequest(method, url, data, callback) {
        let cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let xhr = new XMLHttpRequest();
        xhr.open(method, url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
        xhr.onreadystatechange =  function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                callback(xhr.responseText);
            }
        };
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        if (data != null) {
            xhr.send(JSON.stringify(data));
        } else {
            xhr.send();
        }
    }

</script>
</body>
</html>


