<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Tasks</h1>
    <span class="btn btn-primary" id="see-your-solution">See your solution</span>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Tasks</th>
            <th style="width:140px;"><a href="/tasks/new" class="btn btn-success">New</a></th>
        </tr>
        </thead>
        <tbody>
        {{range .Tasks}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/tasks/{{.ID}}" class="btn btn-primary">{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>
                <a href="/tasks/edit/{{.ID}}" class="btn btn-primary">Edit</a>
                <span data-id="{{.ID}}" class="do-delete btn btn-danger">Del</span>
            </td>
        </tr>
        {{end}}
        </tbody>
        </table>
    <input class="form-control" name="user_id" id="user_id" type="hidden" value="{{.UserId}}" readonly>

    <script type="text/javascript">
         console.log("Тест работы!");

         $('.do-delete').click(function() {
             if(!confirm("Are you sure?")) {
                 return
             }
             $elem = $(this);
             console.log($elem.data("id"));
             $.ajax({
                 url: '/tasks/' + $elem.data("id"),
                 type: 'DELETE',
                 data: {},
                 success: function(resp) {
                     console.log(resp);
                     if(Object.values(resp)[0]) {

                         $elem.parent().parent().remove();
                     }
                 },
             });
         });

         document.getElementById('see-your-solution').onclick = function() {

             let user_id = document.getElementById("user_id").value;

             sendRequest("GET", "/tries/userID/" + user_id, null);
             return true;
         };

         function sendRequest(method, url, data) {
             var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

             let xhr = new XMLHttpRequest();
             xhr.open(method, url, false);
             xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
             xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
             xhr.onreadystatechange = function () {
                 if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                     window.history.pushState("", "", url);
                     $('html').html(xhr.responseText);
                     //document.write(xhr.responseText);
                 }
             };
             xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
             if (data != null) {
                 xhr.send(JSON.stringify(data));
             } else {
                 xhr.send();
             }
         }
    </script>
</div>
</body>
</html>