<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Send your solution</h1>

    <form name="myForm" id="myForm">
        <div class="form-group">
            <label for="task_id">Task ID</label>
            <input class="form-control" name="task_id" id="task_id" value="{{.TaskID}}" readonly>
            <label for="task_id">Language ID</label>
            <input class="form-control" name="language_id" id="language_id" value="{{.LanguageID}}" readonly>
            <input class="form-control" name="user_id" id="user_id" type="hidden" value="{{.UserID}}" readonly>

        </div>
        <div class="form-group">
            <label for="solution">Solution:</label>
            <textarea class="form-control" name="solution" id="solution" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="send_solution">Send Solution</button>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">

    /*window.onload = function() {

        document.getElementById("my-form").addEventListener('submit', submitForm);

        function submitForm(event) {
            // Отменяем стандартное поведение браузера с отправкой формы
            event.preventDefault();
            //const formData = new URLSearchParams(new FormData(this));
            //console.log(formData);

            // event.target — это HTML-элемент form
            let formData = new FormData(event.target);

            // Собираем данные формы в объект
            let obj = {};
            formData.forEach((value, key) => obj[key] = value);

            var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

            console.log(cookieValue);
            console.log(JSON.stringify(obj));

            // Собираем запрос к серверу
            let request = new Request(event.target.action, {
                url: '/try',
                method: 'POST',
                body: JSON.stringify(obj),
                headers: {
                    'Authorization': 'Bearer ' + cookieValue,
                    'Content-Type': 'application/json',
                },
            });

            // Отправляем (асинхронно!)
            fetch(request).then(
                    (response) => {
                        if (response.status === 401){
                            window.location.href="/";
                            return Promise.reject(response);
                        }
                        return response.text();
                    })
                    .then(data => {

                                alert('solution send successfully!');
                                let user_id = document.getElementById("user_id").value;




                                // Собираем запрос к серверу
                                let request_2 = new Request(event.target.action, {
                                    url: '/tries/userID/64',
                                    method: 'GET',
                                    headers: {
                                        'Authorization': 'Bearer ' + cookieValue,
                                        'Content-Type': 'application/json',
                                    },
                                });


                                // Отправляем (асинхронно!)
                                fetch(request_2).then(
                                        (response) => {
                                            if (response.status === 401){
                                                window.location.href="/";
                                                return Promise.reject(response);
                                            }
                                            return response.text();
                                        })
                                        .then(data => {

                                                },
                                                (error) => {
                                                    // Запрос не получилось отправить
                                                    alert('solution send failed: ' + error.toString());
                                                }
                                        );





                                //window.location.href="/tries/userID/" + user_id;
                            },
                            (error) => {
                                // Запрос не получилось отправить
                                alert('solution send failed: ' + error.toString());
                            }
                    );
        }
    }*/
    window.onload = function() {
    document.myForm.onsubmit = function() {

        let form = document.getElementById('myForm');
        // event.target — это HTML-элемент form
        let formData = new FormData(form);
        // Собираем данные формы в объект
        let obj = {};
        formData.forEach((value, key) => obj[key] = value);


        sendSolution("POST", "/try", obj);
        /*if(status === 200) {
            alert("!!!!!!!!!!!!!!!!!")
            //sendRequest("POST", '/try', obj);
        };*/

        return true;
    }};


    function sendSolution(method, url, data) {

        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let xhr = new XMLHttpRequest();
        xhr.open(method, url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
         xhr.onreadystatechange = function () {
             if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                 sendRequest("GET", "/tries/userID/64", null)
             }
         };
        if (data != null) {
            xhr.send(JSON.stringify(data));
        } else {
            xhr.send();
        }
    }
    
    
    
    function sendRequest(method, url, data) {

        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let xhr = new XMLHttpRequest();
        xhr.open(method, url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                //$('html').html(xhr.responseText);
                document.write(xhr.responseText);
                window.history.pushState("", "", url);

            }
        };
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        if (data != null) {
            xhr.send(JSON.stringify(data));
        } else {
            xhr.send();
        }
    }
</script>
</body>
</html>