<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="-1">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">

</div>
    <h1>Your Tries (last 10)   <span class="btn btn-primary" id="up-info">Update Data</span></h1>
</div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Solution</th>
            <th>Task_ID</th>
            <th>Status</th>
            <th>Description</th>
            <th>Created</th>
        </tr>
        </thead>

        <tbody>
        {{range .Tries}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/try/{{.ID}}" class="do-click btn btn-primary">See solution</a></td>
            <td>{{.TaskID}}</td>
            <td>{{.Status}}</td>
            <td>{{.Description}}</td>
            <td>{{.Created}}</td>
        </tr>
        <input type="hidden" id="user_id" value={{.UserID}}>
        {{end}}
        </tbody>
        </table>
</div>

<script type="text/javascript">

    document.getElementById('up-info').onclick = function() {
        let user_id = document.getElementById("user_id").value;
        sendRequest("GET", "/tries/userID/" + user_id, null);
        return true;
    };

    function sendRequest(method, url, data) {
        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let xhr = new XMLHttpRequest();
        xhr.open(method, url);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                window.history.pushState("", "", url);
                document.body.innerHTML = '';
                document.write(xhr.responseText);
            }
        };
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        if (data != null) {
            xhr.send(JSON.stringify(data));
        } else {
            xhr.send();
        }
    }
</script>
</body>
</html>
