<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Your solution</h1>

    <form id="solution" method="post" action="/try">
        <div class="form-group">

            <label for="task_id">Task ID</label>
            <input class="form-control" name="task_id" id="task_id" value="{{.TaskID}}" readonly>
            <label for="task_id">Language ID</label>
            <input class="form-control" name="language_id" id="language_id" value="{{.LanguageID}}" readonly>

            <label for="status">Status</label>
            <input class="form-control" name="status" id="status" value={{.Status}} readonly>
            <input class="form-control" name="user_id" id="user_id" type="hidden" value="{{.UserID}}" readonly>
        </div>
        <div class="form-group">
            <label for="solution">Solution:</label>
            <textarea class="form-control" name="solution" id="solution" rows="20">{{.Solution}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="send_solution">Re Send Solution</button>
    </form>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">


    document.getElementById('solution').addEventListener('submit', submitForm);

    function submitForm(event) {
        // Отменяем стандартное поведение браузера с отправкой формы
        event.preventDefault();
        // event.target — это HTML-элемент form
        let formData = new FormData(event.target);

        // Собираем данные формы в объект
        let obj = {};
        formData.forEach((value, key) => obj[key] = value);

        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        console.log(cookieValue);

        // Собираем запрос к серверу
        let request = new Request(event.target.action, {
            url: '/try',
            method: 'POST',
            body: JSON.stringify(obj),
            headers: {
                'Authorization':'Bearer ' + cookieValue,
                'Content-Type': 'application/json',
            },
        });

        // Отправляем (асинхронно!)
        fetch(request).then(
                (response)  => {
                    if (response.status === 401){
                        window.location.href="/";
                        return Promise.reject(response);
                    }
                    return response.text();
                })
                .then(data => {
                            //alert('solution send successfully!');
                            let user_id = document.getElementById("user_id").value;
                            //window.location.href="/tries/userID/" + user_id;
                            sendRequest("GET", "/tries/userID/" + user_id, null)
                        },
                        (error) => {
                            // Запрос не получилось отправить
                            alert('solution send failed: ' + error.toString());
                        }
                );
    }

    function sendRequest(method, url, data) {

        var cookieValue = document.cookie.replace(/(?:(?:^|.*;\s*)online_checker\s*\=\s*([^;]*).*$)|^.*$/, "$1");

        let xhr = new XMLHttpRequest();
        xhr.open(method, url, false);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.setRequestHeader("Authorization", 'Bearer ' + cookieValue);
        xhr.onreadystatechange = function () {
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {

                window.history.pushState("", "", url);
                $('html').html(xhr.responseText);
            }
        };
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        if (data != null) {
            xhr.send(JSON.stringify(data));
        } else {
            xhr.send();
        }
    }
</script>
</body>
</html>